{
	"targetFolder": "results",
	"deleteWhenDone": true,
	"lisPath": "http://[IBLIS_IP_ADDRESS:PORT]/api/update_result.php?specimen_id=#{SPECIMEN_ID}&measure_id=#{MEASURE_ID}&result=#{RESULT}&dec=0",
	"lisUser": "[IBLIS_ADMIN_USERNAME]",
	"lisPassword": "[IBLIS_ADMIN_PASSWORD]",
	"instrumentJSONMapping": "mapping.json",
	"outputDir": "./outputs",
	"hostPort": "3019"
}